@import "minima";

.project-list {

}
.project-link{

}

.project-title {

}

.project-description {

}

.project-thumbnail {
    display: block;
    width:auto;
    height:auto;
    object-fit: cover;
}

.project-meta{

}